<section class="spotlight">
  <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">
      Media Spotlight
    </span>
    <%= link_to @top_work.title, work_path(@top_work.id),  class: "spotlight__link-to"%>
    by
    <%= @top_work.creator%>
  </h2>
</section>



<%["album","book","movie"].each do |category| %>

  <div>
    <h2>Top <%=category.capitalize%>s</h2>
    <% @works.top_ten(category).each do |work|%>
      <h4><%= link_to work.title, work_path(work.id)%> <small class="top-ten__creator">by <%=work.creator%></small></h4>
      <p><%=work.num_votes%> Votes</p>
    <%end%>
  </div>
<%end%>

