<section class="spotlight">
  <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">
      Media Spotlight
    </span>
    <%= link_to @samp_work.title, work_path(@samp_work.id),  class: "spotlight__link-to"%>
    by
    <%= @samp_work.creator%>
  </h2>
</section>

<div class="albums">
  <h2>Top Albums</h2>
  <% @albums.each do |work|%>
    <p><strong>Title:</strong> <%= link_to work.title, work_path(work.id)%>, <strong>Category:</strong> <%=work.category%></p>
  <%end%>
</div>

<div class="books">
  <h2>Top Books</h2>
  <% @books.each do |work|%>
    <p><strong>Title:</strong> <%= link_to work.title, work_path(work.id)%>, <strong>Category:</strong> <%=work.category%></p>
  <%end%>
</div>

<div class="movies">
  <h2>Top Movies</h2>
  <% @movies.each do |work|%>
    <p><strong>Title:</strong> <%= link_to work.title, work_path(work.id)%>, <strong>Category:</strong> <%=work.category%></p>
  <%end%>
</div>