<% if @work.errors.any? %>
  <ul class="errors">
    <% @work.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
<section>
  <%= form_with model: @work, class:'work-form' do |f| %>

    <section class="form-group">
      <%= f.label :category %>
      <%= f.select :category, [[nil,nil],[:movie,:movie],[:album,:album],[:book,:book]],{}, class: "form-control"  %>
    </section>

    <section class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </section>

    <section class="form-group">
      <%= f.label :creator %>
      <%= f.text_field :creator, class: "form-control"  %>
    </section>

    <section class="form-group">
      <%= f.label :publication_year %>
      <%= f.text_field :publication_year, class: "form-control"  %>
    </section>

    <section class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control"  %>
    </section>

    <%= f.submit action_name, class: "btn btn-primary"%>

  <%end%>
</section>