<%= form_with model: @work, class:'work-form' do |f| %>

  <section>
    <%= f.label :category %>
    <%= f.select :category, [[nil,nil],[:movie,:movie],[:album,:album],[:book,:book]] %>
  </section>

  <section>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </section>

  <section>
    <%= f.label :creator %>
    <%= f.text_field :creator %>
  </section>

  <section>
    <%= f.label :publication_year %>
    <%= f.text_field :publication_year %>
  </section>

  <section>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </section>

  <%= f.submit action_name, class: "work-button"%>

<%end%>
