<h2><%=@work.title%></h2>
<p>Created by: <%=@work.creator%></p>
<p>Published: <%=@work.publication_year%></p>

<p><%=@work.description%></p>

<%=link_to "Edit", edit_work_path(@work.id)%>
<%= link_to "Delete", work_path(@work.id), method: :delete%>
<%= link_to "Vote", work_votes_path(@work.id), method: :post%>

<h3><%=@work.num_votes%> Votes for this <%=@work.category.capitalize%></h3>
<table class="table">

  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @work.votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.user.username, user_path(vote.user.id)%></td>
        <td><%=vote.created_at.strftime('%B %d, %Y')%></td>
      </tr> 
    <% end %>
  </tbody>

</table>